:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --cherryRed: rgb(145, 26, 26);
  --offWhite: #fcf6f5;
  --darkBlue: #16233b;
}
h1 {
  color: var(--offWhite);
}
h2 {
  color: var(--darkBlue);
}
a {
  text-decoration: none;
}

.bgCherryColorWhite {
  background-color: var(--cherryRed);
  color: var(--offWhite);
}
.bgOffwhiteColorCherry {
  background-color: var(--offWhite);
  color: var(--cherryRed);
}
.textCherry {
  color: var(--cherryRed);
}
.textOffWhite {
  color: var(--offWhite);
}

.hero_section {
  background-color: var(--darkBlue);
  min-height: 80vh;
  width: 100%;
  position: relative;
  padding: 120px 0 60px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  filter: contrast(1.5);
  background: radial-gradient(100% 100% at 49.99% 0%,#00000000 0%, #0a0a0a 100%), radial-gradient(87.4% 84.04% at 6.82% 16.24%, #6579b6 0%, #00000000 100%), radial-gradient(217.89% 126.62% at 48.04% 0%, #414c6c 0%, #00000000 100%);
}
.btnGet_started {
  color: var(--offWhite);
  background: var(--cherryRed);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 12px 28px;
  border-radius: 50px;
  transition: 0.5s;
  text-decoration: none;
}
.btnWatch_video {
  background-color: transparent;
  color: var(--offWhite);
  margin-left: 25px;
  text-decoration: none;
}
.btnWatch_video .faPlayIcon {
  margin-right: 10px;
  font-size: 32px;
  color: var(--offWhite);
}
.boxDesign {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}
.boxDesign .boxDesign_Inner {
  background-color: var(--cherryRed);
  color: var(--offWhite);
  /* width: 170px; */
  height: 55px;
  text-align: center;
  /* border-radius: 2px; */
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxDesign_Inner span {
  margin: 0 10px;
  cursor: pointer;
}
.sectionTitle {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}
.sectionTitle h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.sectionTitle h2:before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: color-mix(in srgb, #444444, transparent 60%);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}
.sectionTitle h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--cherryRed);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.aboutList li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 300;
}
.aboutList li .fa-circle-check {
  color: var(--cherryRed);
  margin-right: 10px;
  font-size: 20px;
}
.service_Item .read_More {
  color: var(--cherryRed);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 28px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--cherryRed);
}
.aboutServicesBoth .icon {
  display: inline-block;
  background-color: #f3f3f3;
  padding: 15px 20px;
  border-radius: 4px;
}
.about_Content .read_More:hover {
  background-color: var(--cherryRed);
  color: var(--offWhite);
}

.about_Content .read_More .fa-arrow-right-long {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
}

.services_Section {
  padding: 60px 0;
}
.cardsServices .service_Item {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  height: 100%;
  border-radius: 5px;
}
.cardsServices .service_Item:hover {
  transform: translateY(-10px);
}
.cardsServices .icon .fa-wave-square {
  color: var(--cherryRed);
  font-size: 36px;
  transition: 0.3s;
}
.cardsServices h4 .stretched-link {
  color: var(--darkBlue);
  transition: ease-in-out 0.3s;
}
.cardsServices .service_Item:hover h4 .stretched-link {
  color: var(--cherryRed);
}

.pricingContainer .pricingItem {
  /* background-color: var(--offWhite); */
  box-shadow: 0 3px 20px -2px rgba(228, 228, 228, 0.9);
  border-top: 4px solid #f5f6f8;
  padding: 60px 30px;
  height: 100%;
  border-radius: 5px;
}
.pricingContainer .selectedPlanClass {
  border-top: 4px solid var(--cherryRed);
}
.pricingItem h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  color: var(--darkBlue);
}
.pricingItem h4 {
  color: var(--cherryRed);
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 0;
}
.pricingItem h4 sup {
  font-size: 28px;
}
.pricingItem h4 span {
  color: color-mix(in srgb, #444444, transparent 50%);
  font-size: 18px;
}
.pricingItem .pricingUl {
  padding: 20px 0;
  list-style: none;
  color: color-mix(in srgb, #444444, transparent 30%);
  text-align: left;
  line-height: 20px;
}
.pricingItem .pricingUl li .fa-check,
.pricingItem .pricingUl li .fa-xmark {
  color: #059652;
  font-size: 14px;
  padding-right: 3px;
  margin-right: 5px;
}
.pricingItem .pricingUl li .fa-xmark {
  color: color-mix(in srgb, #444444, transparent 30%);
}
.pricingItem .pricingUl .na span {
  text-decoration: line-through;
}
.pricingItem .pricingUl li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-weight: 300;
}
.buyNowBtn {
  color: var(--cherryRed);
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 50px;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  border: 1px solid var(--cherryRed);
}
.selectedPlanBtn {
  background-color: var(--cherryRed);
  color: var(--offWhite);
}
.teamCard {
  width: 24rem;
}
.teamImg {
  display: flex;
  justify-content: center;
}
.teamImg img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}
.testsBox {
  margin: 0 10px;
}
.testBoxItem .testBoxProfile {
  gap: 1rem;
}
.testBoxItem .testBoxProfile img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  box-shadow: 0 3px 20px -2px rgba(228, 228, 228, 0.7);
}
.testBoxItem .testBoxProfile span h4 {
  color: var(--darkBlue);
  font-weight: 600;
}
.testBoxItem .testIcon {
  font-size: 32px;
  color: var(--cherryRed);
}

/* Servies Content */
.services_Navpills > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 !important;
  width: 200px;
  font-size: 14px;
  border-bottom: 1px solid var(--cherryRed);
}
.services_Navpills .nav-link {
  color: var(--cherryRed);
}
.services_Navpills .nav-link:hover {
  background-color: var(--darkBlue);
  color: var(--offWhite);
  border-bottom: 1px solid var(--darkBlue);
}
.services_Navpills .nav-link.active {
  background-color: var(--darkBlue);
  color: var(--offWhite);
  border-bottom: 1px solid var(--darkBlue);
}

/* ui ux */
.uiux_Content .uiux_Inner .categories .catIcon {
  background-color: #f3f3f3;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 10px;
}
.uiux_Content .uiux_Inner .categories .catText h4 {
  font-size: 16px;
  line-height: 16px;
}
.uiux_Content .uiux_Inner .categories .catText span {
  color: #948e8e;
  font-size: 14px;
}

/* contact form */
.aLtrion_Contact_Form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}
.contact_Bg {
  position: relative;
}
.contact_Section {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  margin: 0;
  background-image: url("././assets//images/contact/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.contact_Section::after {
  content: "";
  background-color: var(--darkBlue);
  opacity: 0.5;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.timeZoneDate {
  font-size: 12px;
}
.marquee-text {
  box-sizing: border-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.marquee-text .top-info-bar {
  font-size: 12px;
  width: 200%;
  display: flex;
  -webkit-animation: marquee 20s linear infinite running;
  -moz-animation: marquee 20s linear infinite running;
  -o-animation: marquee 20s linear infinite running;
  -ms-animation: marquee 20s linear infinite running;
  animation: marquee 20s linear infinite running;
}

.marquee-text .top-info-bar:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}

.marquee-text .top-info-bar .info-text {
  padding: 10px 30px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 10s ease;
  transition: all 10s ease;
}

.marquee-text .top-info-bar a {
  color: #16233b;
  text-decoration: none;
}

@-moz-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@-o-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@media (max-width: 991.98px) {
  .btnLogin {
    background-color: var(--darkBlue);
  }
  .marquee-text {
    display: none;
  }
  .dateTime {
    width:50% !important;
  }
}
@media (max-width: 768px) {
  .services_Navpills > button {
    width: 100%;
  }
}
